
/* General */
*
{ 
	background: #333333;
}

/* PUSHBUTTON */
	QPushButton
	{
		background: #444444;
		color: #FFFFFF;
	}

	/*QPushButton
	{
		color: #DDDDDD;
		border: 1px solid #777777;
		border-radius: 2px;
		background-color: #333333;
		min-width: 80px;
		margin:5px
	}

	QPushButton:hover
	{
		color: #FFFFFF;
		background-color: #222222;
	}*/

/* QTOOLTIP */
	QToolTip
	{
		color: #ffffff; 
		background-color: #333333;
		border: none;
	} 

/* SPLITTER */
	QSplitter::handle
	{
		background: #444444;
		color: #484848;
	}

	QSplitter::handle:horizontal
	{
		width: 2px;
	}

	QSplitter::handle:vertical
	{
		height: 2px;
	}

	QSplitter::handle:pressed
	{
		background: #777777;
	}

/* MENU BAR */
	QMenuBar::item
	{
		background: #333333;
		color: #FFFFFF;
	}

	QMenuBar::item:disabled
	{
		background: #333333;
		color: #111111;
	}

	QMenuBar::item:pressed
	{
		background: #484848;
		color: #EEEEEE;
		font: bold;
	}

	QMenuBar::item:disabled:pressed
	{
		background: #333333;
		color: #222222;
	}

/* MENU */
	QMenu::item
	{
		background: #313131;
		color: #CCCCCC;
	}

	QMenu::item:disabled
	{
		background: #313131;
		color: #111111;
	}

	QMenu::item:selected:disabled
	{
		background: #484848;
		color: #222222;
	}

	QMenu::item:selected
	{
		background: #484848;
		color: #FFFFFF;
	}

/* PLAIN TEXT EDIT */
	QPlainTextEdit
	{
		color: #FFFFFF;
		background: #222222;
	}

	QTextEdit
	{
		color: #FFFFFF;
		background: #222222;
	}

/* SCROLL BAR */
	QScrollBar:vertical
	{               
		/*border: 1px solid #555555;*/
		border: none;
		background: #444444;
		width: 10px;
		margin: 0px 0px 0px 0px;
	}

	QScrollBar:horizontal
	{               
		/*border: 1px solid #555555;*/
		border: none;
		background: #444444;
		height: 10px;
		margin: 0px 0px 0px 0px;
	}	

	QScrollBar::handle:vertical
	{
		background: #777777;
		min-height: 0px;
	}

	QScrollBar::handle:horizontal
	{
		background: #777777;
		min-width: 0px;
	}

	QScrollBar::add-line:vertical
	{
		background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: px;
		subcontrol-position: bottom;
		subcontrol-origin: margin;
	}
	
	QScrollBar::add-line:horizontal
	{
		background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		width: 10px;
		subcontrol-position: right;
		subcontrol-origin: margin;
	}

	QScrollBar::sub-line:vertical
	{
		background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: 0px;
		subcontrol-position: top;
		subcontrol-origin: margin;
	}

	QScrollBar::sub-line:horizontal
	{
		background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: 5px;
		subcontrol-position: left;
		subcontrol-origin: margin;
	}

	QScrollBar::up-arrow:vertical,
	QScrollBar::down-arrow:vertical
	{
		background: none;
	}

	QScrollBar:left-arrow:horizontal,
	QScrollBar::right-arrow:horizontal
	{
		background: none;
	}

	QScrollBar::add-page:vertical, 
	QScrollBar::sub-page:vertical,
	QScrollBar::add-page:horizontal, 
	QScrollBar::sub-page:horizontal
	{
		background: none;
	}

/* TABS */
	QTabWidget::pane
	{
	     	border-top: 2px solid #444444;
	     	position: absolute;
	     	top: -0.5em;
	}

	QTabWidget::tab-bar
	{
		alignment: center;
		/*color: #FF0000;*/
	}

	QTabBar::tab
	{
	     	padding: 2px;
		border: 2px;
		background: #555555;
		min-width: 15ex;
		/*color: #FFFFFF; Will prevent colors in tables. */
	}

	QTabBar::tab:selected, QTabBar::tab:hover
	{
		background: #777777;
	}

	QTabBar::tab:selected
	{	
		background: #666666;
	}

/* TREE WIDGET */
	QTreeWidget
	{
		alternate-background-color: #303030;
		background: #222222;
		color: #FFFFFF;
	}

	QTreeWidget::item:selected
	{
	   	background: #555555;
		/*color: #FFFFFF;*/
		font: bold;
		border: none;
	}

	QTreeWidget::item:!has-children
	{
		/*color: #AAAAAA;*/
		font-size:10px;
	}

	QTreeWidget::item:has-children
	{
		/*color: #FFFFFF;*/
		font: bold;
	}

	QTreeWidget::item:hover:!selected
	{
		background: #303030;
		/*color: #DDDDDD;*/
	}

	QTreeView::branch
	{
		background: #222222;
		color: #FFFFFF;
	}

	/*QTreeView::branch:has-children:!has-siblings:closed,
	QTreeView::branch:closed:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(branch-closed.png);
	}

	QTreeView::branch:open:has-children:!has-siblings,
	QTreeView::branch:open:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(branch-open.png);
	}*/

	QHeaderView::section
	{
		background: #333333;
		border: 1px solid #252525;
		padding-left: 4px;
		color: #FFFFFF;
	}

/* LIST WIDGET */
	QListWidget
	{
		alternate-background-color: #303030;
		background: #222222;
		color: #FFFFFF;
	}

	QListView::item:selected
	{
		border: 1px solid #181818;
	}

	QListView::item:selected:!active
	{
		background: #404040;
	}

	QListView::item:selected:active
	{
		background: #404040;
	}

	QListView::item:hover
	{
		background: #505050;
	}

/* PROGRESS BAR */
	QProgressBar:horizontal
	{
		border:none;
		background: #222222;
		text-align: center;
	}

	QProgressBar::chunk:horizontal
	{
		background: #777777;
	} 

/* LABEL */
	QLabel
	{
		background: none;/*#222222;*/
		color: #FFFFFF;
	}

/* SPINBOX */
	QSpinBox
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #282828;
		color: #FFFFFF;
	}

	QSpinBox::up-arrow
	{ }

	QSpinBox::down-arrow
	{ }

	QSpinBox:!enabled
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #202020;
		color: #777777;
	}

	QDoubleSpinBox
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #282828;
		color: #FFFFFF;
	}

	QDoubleSpinBox:!enabled
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #202020;
		color: #777777;
	}

/* QLINEDIT */
	QLineEdit
	{
		color: #CCCCCC;
		background-color: #222222;
		border-style: solid;
		border-width: 1px;
		/*border-radius: 3px;*/
		border-color: #AAAAAA;
	}

/* QMESSAGEBOX */
	QMessageBox
	{ }

/* QCOMBOBOX */
	QComboBox
	{
		font: bold;
	}

	QComboBox QAbstractItemView
	{
		background:#555555;
		color:#FFFFFF;
	}

	QComboBox QAbstractItemView
	{
		background:#222222;
	}

	QComboBox:editable
	{
		background:#222222;
	}

	QComboBox:!editable, QComboBox::drop-down:!editable
	{
		background:#555555;
	}

	QComboBox:!editable:on, QComboBox::drop-down:!editable:on
	{
		color:#FFFFFF;
		background:#555555;
	}

	QComboBox:!editable:off, QComboBox::drop-down:!editable:off
	{
		color:#888888;
		background:#555555;
	}

/* QSPLITTER */
	QSplitter::handle:horizontal
	{
		width: 4px;

		background-color: qlineargradient(	x1:0, y1:0, x2:0, y2:1,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #202020,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:vertical
	{
		height: 4px;
	
		background-color: qlineargradient(	x1:0, y1:0, x2:1, y2:0,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #202020,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:horizontal:pressed
	{
		width: 4px;

		background-color: qlineargradient(	x1:0, y1:0, x2:0, y2:1,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #505050,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:vertical:pressed
	{
		height: 4px;
	
		background-color: qlineargradient(	x1:0, y1:0, x2:1, y2:0,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #505050,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

/* QGROUPBOX */
	QGroupBox
	{
		border: 1px solid #666666;
		border-radius: 9px;
		margin-top: 0.5em;
	}

	QGroupBox::title
	{
		color:#CCCCCC;
		subcontrol-origin: margin;
		left: 10px;
		padding: 0 3px 0 3px;
	}

