
/* General */
*
{ 
	background: #333333;
}

/* PUSHBUTTON */
	QPushButton
	{
		background: #444444;
		color: #FFFFFF;
	}

/* SPLITTER */
	QSplitter::handle
	{
		background: #444444;
		color: #484848;
	}

	QSplitter::handle:horizontal
	{
		width: 2px;
	}

	QSplitter::handle:vertical
	{
		height: 2px;
	}

	QSplitter::handle:pressed
	{
		background: #777777;
	}

/* MENU BAR */
	QMenuBar::item
	{
		background: #333333;
		color: #FFFFFF;
	}

	QMenuBar::item:pressed
	{
		background: #484848;
		color: #EEEEEE;
		font: bold;
	}

/* MENU */
	/*QMenu::item
	{
		background: #333333;
		color: #FFFFFF;
	}

	QMenu:hover
	{
		background: #444444;
		color: #FFFFFF;
	}*/

/* PLAIN TEXT EDIT */
	QPlainTextEdit
	{
		color: #FFFFFF;
		background: #222222;
	}

/* SCROLL BAR */
	QScrollBar:vertical
	{               
		border: 1px solid #555555;
		background: #444444;
		width: 10px;
		margin: 0px 0px 0px 0px;
	}

	QScrollBar:horizontal
	{               
		border: 1px solid #555555;
		background: #444444;
		height: 10px;
		margin: 0px 0px 0px 0px;
	}	

	QScrollBar::handle:vertical
	{
		background: #777777;
		min-height: 0px;
	}

	QScrollBar::handle:horizontal
	{
		background: #777777;
		min-width: 0px;
	}

	QScrollBar::add-line:vertical
	{
		background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: px;
		subcontrol-position: bottom;
		subcontrol-origin: margin;
	}
	
	QScrollBar::add-line:horizontal
	{
		background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		width: 10px;
		subcontrol-position: right;
		subcontrol-origin: margin;
	}

	QScrollBar::sub-line:vertical
	{
		background: qlineargradient(x1:0, y1:0, x2:1, y2:0, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: 0px;
		subcontrol-position: top;
		subcontrol-origin: margin;
	}

	QScrollBar::sub-line:horizontal
	{
		background: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0  rgb(85, 85, 85), stop: 0.5 rgb(85, 85, 85),  stop:1 rgb(85, 85, 85));
		height: 5px;
		subcontrol-position: left;
		subcontrol-origin: margin;
	}

	QScrollBar::add-page:vertical, 
	QScrollBar::sub-page:vertical,
	QScrollBar::add-page:horizontal, 
	QScrollBar::sub-page:horizontal
	{
		background: none;
	}

/* TABS */
	QTabWidget::pane
	{
	     	border-top: 2px solid #444444;
	     	position: absolute;
	     	top: -0.5em;
	}

	QTabWidget::tab-bar
	{
		alignment: center;
		color: #FF0000;
	}

	QTabBar::tab
	{
	     	padding: 2px;
		border: 2px;
		background: #555555;
		min-width: 15ex;
		color: #FFFFFF;
	}

	QTabBar::tab:selected, QTabBar::tab:hover
	{
		background: #777777;
	}

	QTabBar::tab:selected
	{	
		background: #666666;
	}

/* TREE WIDGET */
	QTreeWidget
	{
		alternate-background-color: 303030;
		background: #222222;
		color: #FFFFFF;
	}

	QTreeWidget::item:selected
	{
	   	background: #555555;
		color: #FFFFFF;
		font: bold;
		border: none;
	}

	QTreeWidget::item:!has-children
	{
		color: #AAAAAA;
		font-size:10px;
	}

	QTreeWidget::item:has-children
	{
		color: #FFFFFF;
		font: bold;
	}

	QTreeView::branch
	{
		background: #222222;
		color: #FFFFFF;
	}

	/*QTreeView::branch:has-children:!has-siblings:closed,
	QTreeView::branch:closed:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(branch-closed.png);
	}

	QTreeView::branch:open:has-children:!has-siblings,
	QTreeView::branch:open:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(branch-open.png);
	}*/

	QHeaderView::section
	{
		background: #333333;
		border: 1px solid #252525;
		padding-left: 4px;
		color: #FFFFFF;
	}

/* LIST WIDGET */
	QListWidget
	{
		alternate-background-color: #303030;
		background: #222222;
		color: #FFFFFF;
	}

	QListView::item:selected
	{
		border: 1px solid #181818;
	}

	QListView::item:selected:!active
	{
		background: #404040;
	}

	QListView::item:selected:active
	{
		background: #404040;
	}

	QListView::item:hover
	{
		background: #505050;
	}

/* PROGRESS BAR */
	QProgressBar:horizontal
	{
		border:none;
		background: #222222;
		text-align: center;
	}

	QProgressBar::chunk:horizontal
	{
		background: #777777;
	} 

