
/* General */
*
{
	color: #FFFFFF;
	background: #333333;
}

/* PUSH BUTTON */

	QPushButton
	{
		color: #CCCCCC;
		border: 1px solid #666666;
		border-radius: 10px;
		padding: 3px;
		background: qradialgradient(cx: 0.3, cy: -0.4,
			fx: 0.3, fy: -0.4,
			radius: 1.35, stop: 0 #555555, stop: 1 #363636);
		min-width: 64px;
	}

	QPushButton:hover
	{
		color: #FFFFFF;
	}

/* TOOL TIP */
	QToolTip
	{
		color: #ffffff; 
		background-color: #333333;
		border: none;
	}

/* MENU BAR */
	QMenuBar::item
	{
		background: #333333;
		color: #FFFFFF;
	}

	QMenuBar::item:disabled
	{
		background: #333333;
		color: #111111;
	}

	QMenuBar::item:pressed
	{
		background: #484848;
		color: #EEEEEE;
		font: bold;
	}

	QMenuBar::item:disabled:pressed
	{
		background: #333333;
		color: #222222;
	}

/* MENU */
	QMenu::item
	{
		background: #313131;
		color: #CCCCCC;
	}

	QMenu::item:disabled
	{
		background: #313131;
		color: #111111;
	}

	QMenu::item:selected:disabled
	{
		background: #484848;
		color: #222222;
	}

	QMenu::item:selected
	{
		background: #484848;
		color: #FFFFFF;
	}

/* PLAIN TEXT EDIT */
	QPlainTextEdit
	{
		color: #FFFFFF;
		background: #222222;
		border: 1px solid #161616;
	}

	/*QTextEdit
	{
		color: #FFFFFF;
		background: #222222;
	}*/

/* SCROLL BAR */
	QScrollBar:vertical
	{               
		border: none;
		background: #444444;
		width: 0.65em;
		margin: 0px 0px 0px 0px;
	}

	QScrollBar:horizontal
	{               
		border: none;
		background: #444444;
		height: 0.65em;
		margin: 0px 0px 0px 0px;
	}	

	QScrollBar::handle:vertical
	{
		background: #777777;
		min-height: 1em;
	}

	QScrollBar::handle:horizontal
	{
		background: #777777;
		min-width: 1em;
	}

	QScrollBar::add-line:vertical
	{
		background:none;
		height: 0px;
		width: 0px;
	}
	
	QScrollBar::add-line:horizontal
	{
		background:none;
		height: 0px;
		width: 0px;
	}

	QScrollBar::sub-line:vertical
	{
		background:none;
		height: 0px;
		width: 0px;
	}

	QScrollBar::sub-line:horizontal
	{
		background:none;
		height: 0px;
		width: 0px;
	}

	QScrollBar::up-arrow:vertical,
	QScrollBar::down-arrow:vertical
	{
		background: none;
	}

	QScrollBar:left-arrow:horizontal,
	QScrollBar::right-arrow:horizontal
	{
		background: none;
	}

	QScrollBar::add-page:vertical, 
	QScrollBar::sub-page:vertical,
	QScrollBar::add-page:horizontal, 
	QScrollBar::sub-page:horizontal
	{
		background: none;
	}

	QAbstractScrollArea::corner
	{
		background: qlineargradient(	x1:0.0, y1:0.0, x2:1.0, y2:1.0,
                 				stop: 0.0 #444444, 
						stop: 0.5 #444444, 
						stop: 0.51 #333333
						stop: 1.0 #333333 );
	}

/* TABS */
	QTabBar
	{
		border: none;
	}

	QTabBar::tab
	{
		/*background: #333333;*/
		/*background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.025 #505050,
						stop: 0.05 #333333, 
						stop: 1.0 #333333);*/
		/*background: qradialgradient(	cx:0.5, cy:1.0, radius: 0.5, fx:0.5, fy:1.0, 
						stop: 0.0 #808080, 
						stop: 0.3 #505050,
						stop: 1.0 #333333);*/
		background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.05 #292929,
						stop: 0.95 #292929, 
						stop: 1.0 #333333);
		padding: 2px;
		padding-left:0.5em;
		min-width: 6em;
		border: none;		
		/*color: #FFFFFF; Will prevent colors in tables. */
	}

	QTabBar::tab:hover
	{
		/*background: #666666;*/
		/*background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.05 #666666,
						stop: 0.9 #333333, 
						stop: 1.0 #333333);*/
		/*background: qradialgradient(	cx:0.5, cy:1.0, radius: 0.5, fx:0.5, fy:1.0, 
						stop: 0.0 #808080, 
						stop: 0.7 #505050,
						stop: 1.0 #333333);*/
		background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.05 #686868,
						stop: 0.95 #686868, 
						stop: 1.0 #333333);
	}

	QTabBar::tab:selected
	{	
		/*background: #555555;*/
		/*background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.05 #555555,
						stop: 0.9 #555555, 
						stop: 1.0 #333333);*/
		background: qlineargradient(	x1:0, y1:0, x2:1, y2:0, 
						stop: 0.0 #333333,
						stop: 0.05 #555555,
						stop: 0.95 #555555, 
						stop: 1.0 #333333);
	}

	QTabBar::close-button
	{
		image: url(./Resources/closeButton.png)
		
	}

	QTabBar::close-button:hover
	{
		image: url(./Resources/closeButtonHover.png)
	}

/* TREE WIDGET */
	QTreeWidget
	{
		alternate-background-color: #303030;
		background: #222222;
		color: #FFFFFF;
		border: none;/*1px solid #161616;*/
	}

	QTreeWidget::item:selected
	{
	   	background: #555555;
		/*color: #FFFFFF;*/
		font: bold;
		border: none;
	}

	QTreeWidget::item:!has-children
	{
		/*color: #AAAAAA;*/
		font-size:10px;
	}

	QTreeWidget::item:has-children
	{
		/*color: #FFFFFF;*/
		font: bold;
	}

	QTreeWidget::item:hover:!selected
	{
		background: #303030;
		/*color: #DDDDDD;*/
	}

	QTreeView::branch
	{
		background: #222222;
		color: #FFFFFF;
	}

	QTreeView::branch:has-children:!has-siblings:closed,
	QTreeView::branch:closed:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(Resources/branch-closed.png);
	}

	QTreeView::branch:open:has-children:!has-siblings,
	QTreeView::branch:open:has-children:has-siblings
	{
		background: #222222;
		border-image: none;
		image: url(Resources/branch-open.png);
	}

	QHeaderView::section
	{
		background: #333333;
		border: 1px solid #252525;
		padding-left: 4px;
		color: #FFFFFF;
	}

/* LIST WIDGET */
	QListWidget
	{
		alternate-background-color: #303030;
		background: #222222;
		color: #FFFFFF;
	}

	QListView::item:selected
	{
		border: 1px solid #181818;
	}

	QListView::item:selected:!active
	{
		background: #404040;
	}

	QListView::item:selected:active
	{
		background: #404040;
	}

	QListView::item:hover
	{
		background: #505050;
	}

/* PROGRESS BAR */
	QProgressBar:horizontal
	{
		border:none;
		background: #222222;
		text-align: center;
	}

	QProgressBar::chunk:horizontal
	{
		background: #777777;
	} 

/* LABEL */
	QLabel
	{
		background: none;/*#222222;*/
		color: #FFFFFF;
	}

/* SPINBOX */
	QSpinBox
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #282828;
		color: #FFFFFF;
	}

	QSpinBox::up-arrow
	{ }

	QSpinBox::down-arrow
	{ }

	QSpinBox:!enabled
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #202020;
		color: #777777;
	}

	QDoubleSpinBox
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #282828;
		color: #FFFFFF;
	}

	QDoubleSpinBox:!enabled
	{
		padding-left: 5px;
		padding-right: 15px; /* make room for the arrows */
		border:none;
		background: #202020;
		color: #777777;
	}

/* LINE EDIT */
	QLineEdit
	{
		color: #CCCCCC;
		background-color: #222222;
		border-style: solid;
		border-width: 1px;
		/*border-radius: 3px;*/
		border-color: #AAAAAA;
	}

/* MESSAGE BOX */
	QMessageBox
	{ }

/* COMBO BOX */
	/*QComboBox
	{
		font: bold;
	}

	QComboBox QAbstractItemView
	{
		background:#555555;
		color:#FFFFFF;
	}

	QComboBox QAbstractItemView
	{
		background:#222222;
	}

	QComboBox:editable
	{
		background:#222222;
	}

	QComboBox:!editable, QComboBox::drop-down:!editable
	{
		background:#555555;
	}

	QComboBox:!editable:on, QComboBox::drop-down:!editable:on
	{
		color:#FFFFFF;
		background:#555555;
	}

	QComboBox:!editable:off, QComboBox::drop-down:!editable:off
	{
		color:#888888;
		background:#555555;
	}*/

/* SPLITTER (NOT IN USE) */
	QSplitter::handle:horizontal
	{
		width: 4px;

		background-color: qlineargradient(	x1:0, y1:0, x2:0, y2:1,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #202020,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:vertical
	{
		height: 4px;
	
		background-color: qlineargradient(	x1:0, y1:0, x2:1, y2:0,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #202020,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:horizontal:pressed
	{
		width: 4px;

		background-color: qlineargradient(	x1:0, y1:0, x2:0, y2:1,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #505050,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

	QSplitter::handle:vertical:pressed
	{
		height: 4px;
	
		background-color: qlineargradient(	x1:0, y1:0, x2:1, y2:0,
							stop: 0.0 #333333, 
							stop: 0.2 #333333, 
							stop: 0.5 #505050,
							stop: 0.8 #333333, 
							stop: 1.0 #333333);
	}

/* GROUP BOX */
	QGroupBox
	{
		border: 1px solid #666666;
		border-radius: 9px;
		margin-top: 0.5em;
	}

	QGroupBox::title
	{
		color:#CCCCCC;
		subcontrol-origin: margin;
		left: 10px;
		padding: 0 3px 0 3px;
	}

/* CHECK BOX */
	QCheckBox
	{
		spacing: 5px;
		color: #FFFFFF;
	}

	QCheckBox::indicator
	{
		width: 6px;
		height: 6px;
		border: 2px solid #777777;
		border-radius: 2px;
		background: #272727;
 	}

	QCheckBox::indicator:unchecked
	{
		background: #222222;
	}

	QCheckBox::indicator:unchecked:hover
	{
		background: #444444;
	}

	QCheckBox::indicator:checked
	{
		background: #FFFFFF;
	}

	QCheckBox::indicator:checked:hover
	{
		background: #DDDDDD;
	}

	QCheckBox::indicator:indeterminate
	{
		background:#AAAAAA;
	}

